.cover{
    width: calc(100% - 96px);
    background: url(../../images/cover-trains.jpg);
    background-size: cover;
    margin: auto;
    position: relative;
    min-height: 740px;
  }
  
  .cover::before{
    content: "";
    position: absolute;
    background-color:#2A2C2F;
    opacity: .5;
    transition: opacity .5s;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  .cover:hover::before{
    opacity: .9;
  }

  @media (max-width: 1279px){
    .cover{
      min-height: 640px;
      width: 100%;
    }
  }
  
  @media (max-width: 1023px){
    .cover{
      min-height: 480px;
      width: 100%;
    }
  }
  
  @media (max-width: 767px){
    .cover{
      min-height: 200px;
      width: 100%;
    }
  }